
html body{
    padding:0;
    margin:0;
}
h2{
    display: block;
    position: relative;
}
.contanier{
    margin-top:20px;
    margin-left: 20px;
    margin-right: 0;
    margin-bottom:20px;
    text-align:center;
    height: 400px;
}
.dm_screen{
    border:1px solid rgb(229, 229, 229);
}
.dm_screen .dm_mask{
    width:100%;
    height: 400px;
}
.dm_text{
    width: 388px;
    height: 34px;
    border-radius: 3px;
    border: 1px solid rgb(204, 204, 204);
    padding-left: 10px;
}

.dm_screen_content .dm_sub{
    border:1px solid rgb(230, 80, 30);
    color: rgb(230, 80, 0);
    border-radius: 3px;
    text-align: center;
    padding:0;
    margin-left:12px;
    height:35px;
    font-size:14px;
    width:150px;
    background-color: white;
    font-weight: lighter;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.dm_clear{
    border:1px solid gray;
    border-radius: 3px;
    text-align: center;
    padding:0;
    height:35px;
    font-size:14px;
    width:150px;
    background-color: white;
    font-weight: lighter;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif ;
}
.text_right{
    text-align: right;
}
#sub{
    display:inline-block;
    width:20px;
    height:20px;
}
#template{
    white-space: nowrap;
    position:absolute;
    top:10px;
    display:none;
}